<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Will</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>
        Willard Carroll Smith II[3] (born September 25, 1968), also known by his stage name the Fresh Prince, is an American actor, rapper, and film producer. Noted for his work in music, television, and film,[4] Smith has received various accolades, including an Academy Award, a BAFTA Award, a Golden Globe Award, a Screen Actors Guild Award, and four Grammy Awards. Additionally, he has received nominations for a Primetime Emmy Award and a Tony Award as a producer. Smith has achieved and held several US and international box office records.[5][6][7] As of 2021, his films have grossed over $9.3 billion globally,[8] making him one of Hollywood's most bankable stars.[9][10]
    </h1>
    
</body>
</html>